
/* font style */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* share style */
*{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}


.btn-primary{
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #E02C6D;
    transition: transform 1s;
}
.btn-primary:hover{
    cursor: pointer;
    transform: scale(1.25);
}

/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;

}
.navbar li{
    list-style: none;
    margin-right: 34px;
}
.navbar a{
    text-decoration: none;
    color: #3A3A3A;
}

/* bannar style */
.bannar{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.bannar-contant{
    max-width: 580px;
}
.bannar-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}
.bannar-description{
    font-size: 1rem;
    font-weight: 600;
      color: #3A3A3A;
      margin-bottom: 16px;
}
.bannar-img img{
    width: 100%;
}
.bannar-img{

    background-image: url(./images/Circle\ design.svg);
}

/* our isponcer */


.our-isponcer{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid tomato;
    /* animation: name duration timing-function delay iteration-count a fill-mode; */
   
}
.our-isponcer-contant{
    max-width: 1100px;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    
}
.our-isponcer-contant::-webkit-scrollbar{
    display: none;
}
.group{
    gap: 20px;
    /* animation: name duration timing-function delay  direction fill-mode; */
    animation: spin 12s ease-in 1s infinite ;
}
.group img{
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
}
@keyframes spin {
    form{ translate: 0;}
    to{  translate: -100%; }
   
}

/* our products */

.products-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}

/* card */

.products-containar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.products-card{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
    transition: transform 1s ;

    
}
.products-card:hover{
    transform: scale(1.09);
}
.products-card img{
    border-radius: 5px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #18191F;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87)F;
}

.products-description{
    font-size: 0.88rem;
    font-weight: 700;
    color: #787885;
}
.see-more{
    font-weight: bold;
    font-size: 1rem;
    color: rgba(224, 44, 109, 0.87);
    border: none;
    background: none;
    position:relative ;
    left: 1100px;
}

/* feature products */

.feature-products{
    gap: 80px;
    justify-content: center;
    align-items: center;margin-top:80px ;
}
.feature-container{
    max-width: 600px;
}
.feature-products img{
    width:404px ;
    border-radius: 7px;
}
.contant-title{
    font-size: 2.39rem;
    font-weight: 700;
    color: #0A0826;
}
.contant-description{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6C6C6C;
}
/* footer */
footer{
    text-align: center;
    padding-top:50px ;
    background-color: #0A0826;margin-top: 80px;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffff;
}footer p{
    font-size: 0.88rem;
    font-weight: 700;
    color: #D9DBE1;
}
.footer-icon{
    margin-top: 15px;
}
.footer-icon a{
    margin-right: 20px;
    
}






@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .brand{
        margin-bottom: 50px;
        
    }
    .navbar ul{
        flex-wrap: wrap;
    }

    /* bannar */
    .bannar{
        flex-direction: column-reverse
    }
    .bannar-contant{
        padding: 20px;
    }

    /* our isponcer */
    .our-isponcer-contant{
        padding: 20px;
    }

    /* our products */
    .products-containar{
        grid-template-columns:1fr;
    }

    .see-more{
        left: 0;
    }

    /* future products */
    .feature-products{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .feature-products img{
        width: 100%;
    }
}
